@page "/"

@{ System.Diagnostics.Debug.WriteLine("Rendered"); }

<svg style="width: 100%; height: 100%; position: absolute; top: 0; left: 0;">
    @foreach (var link in _links)
    {
        <LinkWidget Link="link" />
    }
</svg>

<div @onmousemove="OnMouseMove"
     @onmousemove:preventDefault
     @onmouseup="OnMouseUp"
     style="width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;">

    @foreach (var node in _nodes)
    {
        <NodeWidget Node="node" />
    }

</div>